body {
  margin: 0 auto;
  padding: 30%;
  font-family: sans-serif;
  background-color: darkseagreen;

}

.GraphBar {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border: turquoise 5px solid;
  margin: 0 auto;
  color: orange;
  padding: 5%;

 }

 .label {
   border: black 1px dashed;
   width: 100px;
   margin-right: 20px;
   padding: 5px;
   background-color: lightyellow;
   color: purple;
   text-align: center;
 }

.value {
  border: black 1px solid;
  width: 100px;
  text-align: center;
  background-color: purple;
  color: lightyellow;
  text-align: center;
  font-weight: bold;
  }

button {
  display: flex;
  justify-content: center;
  margin: 5% auto;
  padding: 2%;
  justify-content: space-between;
  align-items: center;
  background-color: khaki;
  color: purple;
  border: purple 1px solid;


}


  .Graph {

  }
